doctype html
html(lang='en')
  head
    title Node Authentication
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    style.
      body {
        padding-top: 80px;
      }

  body
    .container
      .col-sm-6.col-sm-offset-3
        h1.span.fa.fa-sign-in
          |Login
        if (message.length > 0)
          .alert.alert-danger
          message
        form(action='/login', method='post')
          .form-group
            label Email:
            input(type='text' class='form-control', name='email')
          .form-group
            label Password:
            input(type='password' class='form-control', name='password')
          button(type='submit', class='btn btn-warning btn-lg') Login
        hr
        |Need an account?   
        a(href='/signup')
          |Signup   
        |Or go   
        a(href='/signup')
          |Home

